<%- include("partials/header.ejs") %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Welcome to Blog</h3>
                    </div>
                    <div class="card-body">
                        <p class="lead">This is a simple blog application built with Node.js, Express, MongoDB, and
                            Bootstrap.</p>
                        <p class="lead">If you want to create a new post, please <a href="/auth/login">login</a> first.
                        </p>
                        <p class="lead">If you don't have an account, you can <a href="/auth/register">register</a>
                            here.</p>
                        <hr>
                        <p class="lead">All posts will be shown below:</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>